*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 #grid_wrapper1{
     display: grid;
     gap: 1px;
     grid-template-columns: 100%;
     grid-template-rows: 20vh 80vh 90vh 50vh ;
     grid-template-areas: 
     "he"
     "s1"
     "s2"
     "fo";
 }


header {
    background-color:rgb(8, 8, 17);
    filter: sepia(70%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    grid-area: he ;
    
}

#section_1{
    background: url("../img/shaafi-ali-I0IXBZDEAHo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: s1;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(70%);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    display: block;
    width: 180px;
}

.navbar {
    position: relative ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    font-size: 20px;
    margin: 0 35px;
    text-transform: uppercase;
    font-weight: bolder;
    top:60px;
}
a {
    text-decoration: none;
    color: white;
}
ul:first-child{
    margin-right: 10%;
}

ul:last-child{
    margin-left: 10%;
}

a:hover::after{
    font-size: 120%;

}
#section_1 h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  ;
    text-transform: uppercase;
    font-weight: bolder;
    top:60px;
    color:rgb(39, 40, 49);
    list-style: none;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1.5px white;
    font-size: 80px;
}

#section_2{
    background:url("../img/john-legrand-zhO4JJv0zi4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;

    
}

footer{
    background-color: rgb(190, 190, 190);
}

#square_with_text{
    position: relative;
    display: flex;
    width: 90vh;
    height: 90vh;
    background-color: rgba(59, 55, 55, 0.7);
    flex-direction: column;
    align-items: center;

    
}

#square_with_text h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
    text-transform: uppercase;
    margin-top: 15%;

    

}

#square_with_text p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5vh;
    margin-top: 10%;
    width: 50vh;
    
}

